<configuration>
  <appSettings>
    <add key="ShortName0" value="Project Ideas" />
    <add key="FileName0" value="D:\Temp\Project14.ibf" />
    <add key="ShortName1" value="HouseFix" />
    <add key="FileName1" value="D:\Documents\HouseFix.mdb" />
    <add key="ShortName2" value="MMOS" />
    <add key="FileName2" value="D:\MclDocsLocal\IdeasDBs\MmosNew.mdb" />
    <add key="ShortName3" value="AntiCrack" />
    <add key="FileName3" value="D:\MclDocsLocal\IdeasDBs\anticrack.mdb" />
    <add key="ShortName4" value="" />
    <add key="FileName4" value="" />
    <add key="ShortName5" value="" />
    <add key="FileName5" value="" />
    <add key="ShortName6" value="" />
    <add key="FileName6" value="" />
    <add key="ShortName7" value="" />
    <add key="FileName7" value="" />
    <add key="ShortName8" value="" />
    <add key="FileName8" value="" />
    <add key="ShortName9" value="" />
    <add key="FileName9" value="" />
    <add key="ShortName10" value="" />
    <add key="FileName10" value="" />
    <add key="ShortName11" value="" />
    <add key="FileName11" value="" />
    <add key="ShortName12" value="" />
    <add key="FileName12" value="" />
    <add key="ShortName13" value="" />
    <add key="FileName13" value="" />
    <add key="ShortName14" value="" />
    <add key="FileName14" value="" />
    <add key="ShortName15" value="" />
    <add key="FileName15" value="" />
    <add key="ShortName16" value="" />
    <add key="FileName16" value="" />
    <add key="ShortName17" value="" />
    <add key="FileName17" value="" />
    <add key="ShortName18" value="" />
    <add key="FileName18" value="" />
    <add key="ShortName19" value="" />
    <add key="FileName19" value="" />
  </appSettings>
</configuration>